[submodule "external/tensor-dev-ng"]
	path = external/tensor-ng-dev
	url = git@github.com:gracequantum/tensor-ng-dev.git
[submodule "external/tcapi-cuda"]
	path = external/tcapi-cuda
	url = git@github.com:r-ccs-cms/tcapi-cuda.git
