[submodule "external/tensor-ng-dev"]
    path = external/tensor-ng-dev
    url = git@github.com:gracequantum/tensor-ng-dev.git
[submodule "external/tensor-dev-ng"]
	path = external/tensor-dev-ng
	url = git@github.com:gracequantum/tensor-ng-dev.git
